{# src/DAO/TicketingBundle/Resources/views/Mail/ticket.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Billeterie du Louvre</title>
  </head>
  <body>
    <div class="col-sm-12"><p class="text-center"><img src="{{ absolute_url(asset('Images/logoLouvre.jpg')) }}"></div>
    <h1>Billeterie du Louvre</h1>

{% block daoticketing_body %}
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <table class="summary">
                                <tr>
                                    <th><p>Date de visite</p></th>
                                    <th><p>Nom</p></th>
                                    <th><p>Tarif</p></th>                                    
                                    <th><p>Code réservation</p></th>
                                </tr>

                            {% for visitor in visitors %}
                                <tr>
                                    <td> {{ ticket.getDateResa|date('d/m/Y') }} </td>
                                    <td><strong> {{ visitor.getNom|capitalize  }} {{ visitor.getPrenom|capitalize  }}</td>
                                    <td class="right"><strong class="pull-right">{{ visitor.getPrix }}€</strong></td>
                                    <td> {{ ticket.getResaCode }} </td>
                                </tr>
                            {% endfor %}
                            </table>
                            <hr />
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
{% endblock %}